{{ partial "header" . }}

<div class="container-fluid main p-5">
    <div class="post-header mb-5">
        <div class="post-title font-weight-bold">{{ .Title }}</div>
        <div class="text-right"><span class="float-left">{{ .ReadingTime }} minute read</span> Published on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
        <div class="py-1">
        {{ if .Params.tags }}
            <strong>Tags:</strong> 
                {{range .Params.tags}}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
                {{end}}
        {{end}}
        <span class="float-right">
        {{ if .Params.categories }}
                {{range .Params.categories}}
                    <span class="post-categories px-3"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
                {{end}}
        {{end}}
        </span>

        </div>        
    </div>


        {{ .Content }}
</div>

{{ partial "footer" . }}