<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="last-render" content="{{ now.Format "2006-01-02 15:04"   }}">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/blog.css" type="text/css">
</head>

<body>
    <div id="navbar" class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="d-block d-md-none navbar-brand name">
            <a href="/">{{ .Site.Author.name }}</a>
        </div>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#bar" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="bar">
            <div class="navbar-nav w-100">
                <div id="namebrand" class="d-none d-md-block namebrand">
                    <a href="/">{{ .Site.Author.name }}</a>
                </div>

                <div class="navbar-nav ml-auto">

                    {{if not .IsHome }}
                    <div class="nav-item m-3">
                        <a href="/">Home</a>
                    </div>
                    {{end}}

                    <div class="nav-item m-3">
                        <a href="/about/">About</a>
                    </div>
                    <div class="nav-item m-3">
                        <a href="https://projects.maheswaranm.com">Projects</a>
                    </div>
                </div>
            </div>

            <div id="tagline" class="navbar-nav w-100">
                <div class="tagline d-none d-md-block mt-1">
                    {{ .Site.Params.tagline }}
                </div>
                <div class="navbar-nav ml-auto icons">
                    <div class="nav-item mx-3">
                        <a href="{{ .Site.Params.github }}">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item mx-3">
                        <a href="{{ .Site.Params.twitter }}">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item mx-3">
                        <a href="{{ .Site.RSSLink }}">
                            <i class="fas fa-rss fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>